table.e__header(style=settings.tableStyle width='600' cellspacing='0' cellpadding='0' border='0' bgcolor='#fff')
	tbody
		tr
			td.e__header__td(style='padding:0; border-collapse:collapse; background-color:#fff;' width='600')
				.e__header__logo
					a(name='Logo', href=settings.headerLogoLink, title=settings.siteName, style='color:#fff; font-family:Times new roman, arial; font-size:32px; text-decoration:none;') 
						img(alt=settings.siteName, src=assets(settings.headerLogo), style='vertical-align:middle; border:none; display:inline;', width='600')
